dash
dash-bootstrap-components
pandas
numpy
plotly
fastf1

# caching + compression
Flask-Caching
Flask-Compress

# ECharts wrapper (pip package name)
dash-echarts

# production server (Render)
gunicorn

